// Put everything in one object to export at the end
var config = {}

// INK Filepicker API key
config.filepicker = 'Your Filepicker API key';

// Zencoder specific configuration
config.zencoder = {
  api_key: 'Your Zencoder API key', // API key

  output_url: 's3://your-s3-bucket/zensockets/', // Output location for your transcoded videos

  notification_url: 'https://unique-key.ngrok.com/notify/', // Where Zencoder should POST notifications

  outputs: function() { // Eventually we may want to pass things to our outputs array...
    var outputs = [
      {
        label: 'MP4',
        base_url: config.zencoder.output_url,
        public: true,
        thumbnails: {
          number: 1,
          base_url: config.zencoder.output_url,
          public: true
        }
      },
      {
        label: 'WebM',
        base_url: config.zencoder.output_url,
        public: true
      }
    ]
    return outputs;
  }
}

module.exports = config;
