extends layout

block content
  h1.text-center= title

  div.text-center

    button#pick.btn.btn-primary.btn-large.btn-block(type='button')
      i.icon-cloud-upload
      span Upload File

  #notifications

  #outputs.row
